html,
body {
  background: url("../images/img-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input {
  text-align: center;
}

h1.centerClass {
  text-align: center;
  color: rgb(239, 255, 8);
}

h2.header {
  color: rgb(255, 238, 7);
}

h3 {
  text-align: center;
  color: rgb(239, 255, 8);
}
p {
  color: rgb(8, 88, 238);
}

.home-button {
  display: flex;
  justify-content: left;
  color: rgb(8, 210, 224);
  border: 2px solid #4caf50;
  border-radius: 8px;
  position: fixed;
}
.home-button:hover {
  background-color: rgb(255, 238, 7);
}

.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  background-color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: auto;

  /* background-image: url("../images/img-2.jpg"); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 15px 50px 30px; */
}

#form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}

.input__boxes {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 5px;
}

.textarea__boxes {
  border-radius: 25px;
  border: 2px solid #73ad21;
  width: 500px;
  padding: 20px;
}
.country-card {
  float: left;
  width: 150px;
  height: 300px;
  /* background-color: rgb(11, 230, 211); */
  background-color: #21f006;
  color: white;
  margin: 15px;
  text-align: center;
  overflow: auto;
  border-radius: 15px 50px 30px;
}

.review-card {
  float: left;
  width: 250px;
  height: 400px;
  background-color: #21f006;
  color: rgb(239, 255, 8);
  margin: 15px;
  text-align: center;
  overflow: auto;
  border-radius: 15px 50px 30px;
}

.inputBox {
  width: 500px;
  height: 100px;
}

.like-value {
  font-size: x-large;
  color: purple;
}

@media only screen and (min-width: 1200px) {
  .container #form {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .container #form {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .container #form {
    margin-bottom: 2rem;
  }
}
