h1.centerClass {
  text-align: center;
  color: limegreen;
}

.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  background-color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: auto;

  background-image: url("../images/img-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.country-card {
  float: left;
  width: 150px;
  height: 300px;
  background-color: yellow;
  color: blue;
  margin: 15px;
  text-align: center;
  overflow: auto;
}

.review-card {
  float: left;
  width: 250px;
  height: 400px;
  background-color: yellow;
  color: blue;
  margin: 15px;
  text-align: center;
  overflow: auto;
}

.inputBox {
  width: 500px;
  height: 100px;
}

.like-value {
  font-size: x-large;
  color: purple;
}

@media only screen and (min-width: 1200px) {
  .container #form {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .container #form {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .container #form {
    margin-bottom: 2rem;
  }
}
